<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://accesscosmosdb20220807160933.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/356affde-13c1-4853-bf92-4ef7e4f23fc3/resourcegroups/chargerresourcegroup/providers/Microsoft.Web/sites/AccessCosmosDB20220807160933</ResourceId>
    <UserName>$AccessCosmosDB20220807160933</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://accesscosmosdb20220807160933.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>