<div class="text-center">
    <h1 class="heading1">All devices are De-Activated</h1>
    <p> </p>
    <span class="box-free">
        <a class="button-link" href="/DeviceUsage/Index" style="text-decoration: none;">Back to all results</a>
    </span>
</div>
