<div class="text-center">
    <h1 class="heading1">De-Activation failed</h1>
    <p> </p>
    <p class="p1">Something went wrong, please try again</p>
    <p> </p>
    <span class="box-free">
        <a class="button-link" href="/DeviceUsage/DevicesController" style="text-decoration: none;">Try Again</a>
    </span>
</div>
