@model BusinessesInterface.Models.Device

@{
    ViewBag.Title = "SearchSocket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-design">

    <h2 class="heading2">Enter New Table Number</h2>


    @using (Html.BeginForm("ShowEditResults", "DeviceUsage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Table)
                    </div>
                </div>
            </div>

            <p> </p>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Apply" class="submit-button" />
                </div>
            </div>
        </div>
    }
</div>


<script src="~/bundles/jqueryval"></script>