<div class="message-page">
    <h3 class="heading2">Can not perform search</h3>
    <p class="p1">No date was entered, please try again</p>
    <p> </p>
    <span class="box">
        <a class="button-link" href="/DeviceUsage/SearchDate" style="text-decoration: none;">Try Again</a>
    </span>
</div>