<div class="message-page">
    <h3 class="heading2">Results Not Found</h3>
    <p class="p1">No usage to show since this date</p>
    <p> </p>
    <p class="p1">Please choose another date</p>
    <span class="box">
        <a class="button-link" href="/DeviceUsage/SearchDate" style="text-decoration: none;">Try Again</a>
    </span>
    <p class="p1">Or go back to all actions</p>
    <span class="box">
        <a class="button-link" href="/DeviceUsage/Index" style="text-decoration: none;">All actions</a>
    </span>
</div>