<div class="message-page">
    <h3 class="heading2">Something went wrong</h3>
    <p class="p1">Could not update table number for this deice</p>
    <p> </p>
    <p class="p1">Please try again</p>
    <span class="box">
        <a class="button-link" href="/DeviceUsage/ShowTablesMap" style="text-decoration: none;">Try Again</a>
    </span>
</div>
