<div class="message-page">
    <h2 class="display-4">Thank you for signing up to our services!</h2>
    <p>
        <span class="box-free">
            <a class="button-link" href="/Device/Index" style="text-decoration: none;">Click here to go to device activation</a>
        </span>
    </p>
</div>

