<div class="message-page">
    <h4>This user Id does not exits in the system</h4>
    <p>
        @Html.ActionLink("click here to go to Sign up", "Create", "User")
    </p>
    <p>
        @Html.ActionLink("Or click here to countinue as Guest", "Create", "Guest")
    </p>
</div>