<div class="setting-page">
    <h1 class="heading2">User Settings</h1>
    <p class="p1">Please choose an action below</p>
    <p>
        <span class="box">
            <a class="button-link" href="/User/EditPersonal" style="text-decoration: none;">Edit Personal Details</a>
        </span>
    </p>
    <p>
        <span class="box">
            <a class="button-link" href="/User/EditPayment" style="text-decoration: none;">Edit Payment Details</a>
        </span>
    </p>
</div>




