<div class="message-page">
    <p class="heading2">In order to Preform this action you need to be signed in first</p>

    <p class="heading3">Please Sign In here</p>
    <p> </p>
    <span class="box">
        <a class="button-link" href="/User/LoginPage" style="text-decoration: none;">Sign In</a>
    </span>

    <p class="heading3">If you are not a signed in user, please sign up here</p>
    <p> </p>
    <span class="box">
        <a class="button-link" href="/User/Create" style="text-decoration: none;">Sign Up</a>
    </span>
</div>





