<div class="text-center">
    <h1 class="heading1">Welcome</h1>
    <p class="p1">Please log into the system</p>
    <span class="box">
        <a class="button-link" href="/DeviceUsage/Login" style="text-decoration: none;">Login</a>
    </span>
</div>