<div class="device-page">
    <h1 class="display-4">Activate Device</h1>
    <p>
        <span class="box">
            <a class="button-link" href="/Device/Activation" style="text-decoration: none;">Activate</a>
        </span>
    </p>
    <h1 class="display-4">De-Activate Device</h1>
    <p>
        <span class="box">
            <a class="button-link" href="/Device/De_Activation" style="text-decoration: none;">De-Activate</a>
        </span>
    </p>
</div>

