<div class="text-center">
    <h1 class="heading1">Welcome To Smart Socket</h1>
    <p class="p1">Please choose an action below</p>
    <p>
        <span class="box">
            <a class="button-link" href="/Guest/Create" style="text-decoration: none;">Continue as Guest</a>
        </span>

    </p>
    <p>
        <span class="box">
            <a class="button-link" href="/User/Create" style="text-decoration: none;">Sign Up</a>
        </span>

    </p>
    <p>
        <span class="box">
            <a class="button-link" href="/User/LoginPage" style="text-decoration: none;">Sign In</a>
        </span>
    </p>
</div>
