@{
    ViewData["Title"] = "Terms of use";
}
<div class="text-page">

    <h2 class="heading2">@ViewData["Title"]</h2>

    <h3 class="heading3">Important information regarding the use of the device</h3>
    <hr />
    <div>
        <h4 class="p1">Devie Activation</h4>
        <div class="text">
            <p>Once activated, the device will supply electricity for a time span of one hour.</p>
            <p>Each activation is restarting the clock to a one hour usage and is not accumulated with the former on going usage.</p>
        </div>
    </div>
    <p></p>
    <hr />
    <p></p>
    <div>
        <h4 class="p1">Payments</h4>
        <div class="text">
            <p>Each activation is changed with the amount specified at the pricig section below and is not refundable once activation has succesfuly started.</p>
            <p>Once your payment method is chagred, the deivce will be activated,if you wish to pay for another hour, please do so once the former usage is complete</p>
        </div>
    </div>
    <p></p>
    <hr />
    <p></p>
    <div>
        <h4 class="p1">Pricing</h4>
        <div class="text">
            <p>the current price per hour is: xxx NIS</p>
        </div>
    </div>
    <p></p>
    <hr />
    <p></p>
</div>






